@import "fuentes";

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: sans-serif;
}

.header {
    background: linear-gradient(30deg, #df0155, #ed4901);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
.logo {
    img{
        height: 70px;
        margin-right: 10px;
    }
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }

  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link{
        &:hover{
            background-color: grey;
            transition: 0.5s;
    }
}
  

  footer{
    background-color: #df0155;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: auto;
  }
  
.presentacion{
    width: 100%;
    margin-top: -10px;
    right: 0;
    left: 0;
  }
  
/* TOGGLE */

  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 25px;
    padding: 0 20px 25px;
    line-height: 60px;
    cursor: pointer;
    display: none;
  }

  @import "media";