@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url(font/RobotoCondensed-Regular.ttf);
}

@font-face {
font-family: "RobotoCondensed-Light";
src: url(font/RobotoCondensed-Light.ttf);

}

@font-face {
font-family: "RobotoCondensed-Bold";
src: url(font/RobotoCondensed-Bold.ttf);

}