/*Fuentes para la Pagina*/



/*Elementos Editados*/

body{
    font-family: sans-serif;
    margin: 0;
}
header{
    background: linear-gradient(30deg, #df0155, #ed4901);
    display: flex;
    justify-content: center; 
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}


a{
    text-decoration: none;
    color: black;
    
}

.logo{
    display: flex;
    align-items: center;
    margin: 0 30px 0 30px;
}

nav a{
    font-size: 20px;
    font-weight: 500;
    padding-right: 20px;
    
   
}

nav a:hover{
    color: white;
    transition: 0.5s;
}


.logo img{
    height: 50px ;
    margin-right: 10px;
}

.tonggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

main{
    background-color: rgb(93, 30, 102);
    padding: 90px 20px  30px 20px;
}

main div{
    display: grid;
}

footer{
    background-color: rgb(208, 20, 20);
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    position: relative;

}





/*MediaAquaries*/ 

@media (max-width: 768px) {
    header{
        background: linear-gradient(30deg, #df0155, #ed4901);
        display: flex;
        flex-direction: column;
    }
    nav a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        

       
    }
    .tonggle{
       display: block;
    }
}
